

input::-webkit-inner-spin-button{
  display: none;  
}
::placeholder{
    font-size: 1rem;

}
.form_wrapper{
    box-shadow: rgba(240, 46, 170, 0.4) 1px 1px, rgba(240, 46, 170, 0.3) 3px 3px, rgba(240, 46, 170, 0.2) 6px 6px,rgba(240, 46, 170, 0.2) -3px 1px, rgba(240, 46, 170, 0.1) 10px 10px, rgba(240, 46, 170, 0.05) 12px 12px;
    /* border-left:2px solid rgba(240, 46, 170, 0.4); */
    transition:all .3s ease-in-out;
}
.form_wrapper:hover{
    box-shadow: rgba(240, 46, 170, 0.4) 0px 0px 0px 2px;
    border:none;
    
}
/* @media only screen and (max-width: 768px) {
  .form_wrapper{
    box-shadow: rgba(240, 46, 170, 0.4) 0px 0px 0px 2px;
  }
} */
.style{
    position: relative;
    outline: none;
    display: block;
    border:none;
    background: transparent;
    border-bottom: 2px solid lightgray;
    transition: all .2s ease-in-out;
    margin:0 auto;
    width:100%;
    
}
.style::focus{
    outline: none;
}
.style:focus{
    border-bottom:2px solid black;
    transform-origin:left ;
}

.arrow{
transition: all 100s ease-in-out;
box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px, rgba(0, 0, 0, 0.22) 0px 1px 1px;
}
.arrow:after{
  content: "";
  position: absolute;
  width:100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(239, 68, 68,1);
  z-index:10;
  transform: scale(0);
}
.arrow:hover:after{
    transform: scale(1);
}
.sign{
    color:#9901ef;
}
small{
   color:red
}

.wave{
    background: url('./wave.svg');
    background-repeat: no-repeat;
    background-size:cover;
    width:120%;
    height:13rem;
    animation: wave 7s ease-in-out 1.2s infinite , expand 1.2s ease-in-out forwards; 
}
/* svg{
    animation: wave 1.5s cubic-bezier( 0.36, 0.45, 0.63, 0.53) forwards;
    transform: translate3d(0, 0, 0);
     
} */

@keyframes animate{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes wave {
    0%{
        margin-left:0;
    }
    50%{
        margin-left:-20%;
    }
    100%{
        margin-left: 0;
    }
  }
  @keyframes expand {
    0%{
        transform:scaleY(4);
    }
    100%{
        transform:scaleY(1)
    }
    /* 100%{
        transform:scaleY(1)
    } */
  }